body { padding-top:40px; }
body.error { background:#f5f5f5; }

/* ui */
	.help-block
	{
	  font-size: 8pt;
	  color: #777;
	  margin-top:10px;
	}

/* plugin */
	body.dragging, body.dragging * {
	  cursor: move !important;
	}

	.sortable li.dragged {
	  position: absolute;
	  opacity: 0.5;
	  border: 1px solid #ccc;
	  z-index: 2000;
	}

	.sortable li.placeholder {
		border: 1px dashed #bbb;
		background: #f8f8f8;
		height: 30px;
	}

/* layout */
	.footer { padding-bottom:30px; }

/* bootstrap */
	.sidebar-nav { padding:4px 0; margin-top:20px; }

  	.modal {}
    	.modal form { margin-bottom:0; }
    	.modal form .modal-body { padding-top:30px; }
			.modal form .modal-body .control-label { width:50px; }
			.modal form .modal-body .controls { margin-left:70px; }

/* list */
	table tr td.num { width:20px; }
	table tr td.type { width:10px; text-align:center; }
	table tr td.approved { width:30px; }
	table tr td.buttons { width:150px; text-align:right; }
		table tr td.buttons * { text-align:left; }

	table tr th.author,	
	table tr td.author { width:100px;}

/* modal */
	.modal-footer .input-append { margin-bottom:0; }
	.modal-footer form { margin-bottom:0; }

/* course */
	.course_list { margin-bottom:20px; }
		.course_list .control-label { cursor:default;}
		
		.course_list li.course { cursor:move; }

		.course_list li.control-group {
			margin-bottom:0;
			padding-top:10px;
			padding-bottom:10px;
		}

		.course_list li.course:hover {
			background:#f4f4f4;
		}
		
		.course_list li { position:relative; }
		.course_list li .close { position:absolute; top:10px; right:20px; }
		.course_list li.dragged .close { display:none; }

		.course_list li .information {
			clear:left;
			color:#999;
			font-size:11px;

		}
	.course_list li.empty_course { color:#999; }

/* type */
	.type_list {}
		.type_list .type { cursor:move; position:relative; border:1px solid #eee.type_list .type; border-radius:4px; margin-bottom:10px; background:#f9f9f9; padding:10px; }
		.type_list .type:hover { background:#eee; }

			.type_list .type .btn-group { float:right; }
		 	.type_list .type .text { padding-top:3px; }
	
	.type_tools { }
		.type_tools .add_window { display:none; border-radius:4px; background:#f8f8f8; padding:10px; }
			.type_tools .add_window input { margin-bottom:0; }
			
		.type_tools .buttons { }
		.type_tools .close { font-size: 30px; line-height: 30px; }

/* responsive */
@media (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  .navbar-fixed-top { 
  	margin-bottom: 0;
  }
 }