
/* ui */

	.main-content { width:940px; margin:0 auto; position:relative; background:#f2f2f0; min-height:100%; }
		.main-content .main-content-data { position:absolute; top:40px; bottom:0; width:100%; font-size:13px; }

	.content-padding { background:#f2f2f2; position:relative; padding:14px; min-height: 100%; box-sizing: border-box; }

	.content-sidebar { position:absolute; width:225px; left:0; top:0; bottom:0; background:#dcdddd; }
	.content-main { margin-left:210px; padding-left: 20px; padding-right: 6px; }

/* plugin */
	body.dragging, body.dragging * {
	  cursor: move !important;
	}

	.sortable li.dragged {
	  position: absolute;
	  opacity: 0.5;
	  border: 1px solid #ccc;
	  z-index: 2000;
	}

	.sortable li.placeholder {
		background: #eee;
		border-top:1px solid #ddd;
		height: 46px;
	}

/* layout */
	#wrap { height:100%; min-height:100%;}

	.footer { padding-bottom:30px; }

/* list */
	table tr td.num { width:20px; }
	table tr td.type { width:10px; text-align:center; }
	table tr td.approved { width:30px; }
	table tr td.category { width:1px; white-space:nowrap; padding-left:0; padding-right:0; }
		table tr td.category span { display:inline-block; padding-left:8px; padding-right:8px; }
		table tr td.category .dropdown { display:inline-block; }
			table tr td.category .dropdown a.dropdown-toggle { border-radius:2px; color:#333; text-decoration:none; display:inline-block; padding:5px 10px; }
			table tr td.category .dropdown a.dropdown-toggle:hover { background:#e4e4e4;}

			table tr td.category .dropdown.open a.dropdown-toggle { background:#ddd; }
			table tr td.category .dropdown.open a.dropdown-toggle .caret { border-top-color:#fff !important; border-bottom-color:#fff !important;}

	table tr td.buttons { width:150px; text-align:right; }
		table tr td.buttons * { text-align:left; }

	table tr th.author,	
	table tr td.author { width:100px;}
