/* style */
	.modal form .modal-body .control-label { width:150px; }
	.modal form .modal-body .controls { margin-left:170px; }

/* layout */
	body { padding-top: 20px; padding-bottom: 40px; }

	.container_welcome { margin: 0 auto; max-width: 700px; }
	.container_welcome .jumbotron { text-align:center; margin-bottom:20px; }

	.maps {}
		.maps .row-fluid { border-bottom:1px dotted #ddd; padding-bottom:20px; margin-bottom:20px; }