/* style */
	.modal form .modal-body .control-label { width:150px; }
	.modal form .modal-body .controls { margin-left:170px; }

/* layout */
	.user_menu { min-width:130px !important; }

	.container_welcome { margin: 0 auto; max-width: 700px; }
	.container_welcome .jumbotron { text-align:center; margin-bottom:20px; }

	.maps { }
		.maps .row-fluid { border-bottom:1px dotted #ddd; padding-bottom:20px; margin-bottom:20px; }

		.maps .map { position:relative; overflow:hidden; height:200px !important; background:#e1e1e1; }
			.maps .map img.background { position:absolute; width:300px;  margin-top:-75px; }
			.maps .map a.link { position:absolute; top:0; left:0; right:0; bottom:0; text-indent:-10000px; overflow: hidden; }
				.maps .map a.link:hover { background:rgba(255,255,255,0.5); }
			
			.maps .map .manage { position:absolute; top:10px; right:10px; }

			.maps .map .info { position:absolute; bottom:0; background:#fff; width:100%; }
				.maps .map .info h5 { padding-left:10px; padding-right:10px; color:#333; }
					.maps .map .info h5 a { color:#333; margin-right:5px; }